extends layout

block content
    .profile-page
        section.section-profile-cover.section-shaped.my-0
            // Circles background
            .shape.shape-style-1.shape-primary.alpha-4
                span
                span
                span
                span
                span
                span
                span
            // SVG separator
            .separator.separator-bottom.separator-skew
                svg(x='0', y='0', viewBox='0 0 2560 100', preserveAspectRatio='none', version='1.1', xmlns='http://www.w3.org/2000/svg')
                    polygon.fill-white(points='2560 0 2560 100 0 100')
        section.section
            .container
                .card.card-profile.shadow.mt--300
                    .px-4
                        .row.justify-content-center
                            .col-lg-3.order-lg-2
                                .card-profile-image
                                    img.rounded-circle(src='images/team-4-800x800.jpg', alt='image')
                            .col-lg-4.order-lg-3.text-lg-right.align-self-lg-center
                                .card-profile-actions.py-4.mt-lg-0
                                    a.btn.btn-sm.btn-info.mr-4(href='#') Get Likes
                                    a.btn.btn-sm.btn-default.float-right(href='#') Get Followers
                            .col-lg-4.order-lg-1
                                .card-profile-stats.d-flex.justify-content-center
                                    div
                                        span.heading #{projects}
                                        span.description Projects
                                    div
                                        span.heading #{fblikes + instalikes}
                                        span.description Likes
                                    div
                                        span.heading #{fbfollowers + instafollowers}
                                        span.description Followers
                        .text-center.mt-5
                            h3
                                | #{username}
                            .h6.font-weight-300
                                i.fa.fa-facebook-square.mr-2
                                | #{fbprofile}
                            .h6.mt-4
                                i.fa.fa-instagram.mr-2
                                | #{instaprofile}
                            div                            
                        .mt-5.py-5.border-top.text-center
                            .row.justify-content-center
                                .col-lg-9
                                    a.btn.btn-danger.mb-3.mb-sm-0(href='#') Log Out
